<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

        <h1>ねこたち</h1>
        <%= cats %>
            <% for(let cat of cats){ %>
                <li>
                    <%= cat %>
                </li>
                <% } %>
<%- include('partials/footer.ejs') %>